## Welcome Crypto Analysis Jupyter Notebook 
In this notebook we will:
1. Fetch [Cryptocurrency Hourly Historical Data](https://www.kaggle.com/datasets/lunaticsain/cryptocurrency-hourly-historical-data) downloaded using *kagglehub*
2. Exploratory Data Analysis of the two files "coins.csv" and "CryptoHourlyData.csv"

### ONE - Download using kagglehub.
* import KaggleApi
* install kagglehub
* import kagglehub and download the latest version of "lunaticsain/cryptocurrency-hourly-historical-data"
* import os to check the direcorty where files are stored.
* import pandas and read_csv "coins.csv" and "CryptoHourlyData.csv"

In [47]:
from kaggle.api.kaggle_api_extended import KaggleApi

api = KaggleApi()
api.authenticate()

In [49]:
pip install kagglehub

Requirement already satisfied: kagglehub in /opt/anaconda3/lib/python3.12/site-packages (0.3.12)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from kagglehub) (24.1)
Requirement already satisfied: pyyaml in /opt/anaconda3/lib/python3.12/site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (2025.1.31)
Note: you may need to restart the kernel to use updated packages.

In [51]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("lunaticsain/cryptocurrency-hourly-historical-data")

print("Path to dataset files:", path)

Path to dataset files: /Users/mkelleher/.cache/kagglehub/datasets/lunaticsain/cryptocurrency-hourly-historical-data/versions/2

In [53]:
import os 

path = '/Users/mkelleher/.cache/kagglehub/datasets/lunaticsain/cryptocurrency-hourly-historical-data/versions/2'
print(os.listdir(path)) # Shows what files are there

['coins.csv', 'CryptoHourlyData.csv']

In [55]:
import pandas as pd 

coins = pd.read_csv(os.path.join(path, 'coins.csv'))
coins.head(10)

   id Symbol       name
0   1   AAVE       Aave
1   2    BTC    Bitcoin
2   3    ADA    Cardano
3   4   LINK  Chainlink
4   5   DOGE   Dogecoin
5   6    EOS        EOS
6   7    ETH   Ethereum
7   8    LTC   Litecoin
8   9    DOT   Polkadot
9  10    XLM    Stellar

In [57]:
hourly_data = pd.read_csv(os.path.join(path, 'CryptoHourlyData.csv'))
hourly_data.head()

   ID        Date      Time   Open   High    Low  Close
0   1  2023-09-10  00:00:00  56.27  56.29  56.16  56.18
1   1  2023-09-09  23:00:00  56.27  56.28  56.16  56.26
2   1  2023-09-09  22:00:00  56.14  56.28  56.12  56.26
3   1  2023-09-09  21:00:00  56.38  56.38  56.07  56.13
4   1  2023-09-09  20:00:00  56.20  56.33  56.19  56.31

### TWO - Exploratory Data Analysis of the two files

Under "coin.csv" I want to know how many crypto currencies are listed in each column.

This DataFrame is fairly small and will be useful to merge with the "CryptoHourlyData.csv"

In [95]:
print(coins.columns)
print("Unique id's are: ", coins['id'].unique(), "and the count is ", coins['id'].nunique())
print("Unique Symbols are: ", coins['Symbol'].unique(), "and the count is ", coins['Symbol'].nunique())
print("Unique names are: ", coins['name'].unique(), "and the count is ", coins['name'].nunique())

Index(['id', 'Symbol', 'name'], dtype='object')
Unique id's are:  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14] and the count is  14
Unique Symbols are:  ['AAVE' 'BTC' 'ADA' 'LINK' 'DOGE' 'EOS' 'ETH' 'LTC' 'DOT' 'XLM' 'USDT'
 'UNI' 'USDC' 'XRP'] and the count is  14
Unique names are:  ['Aave' 'Bitcoin' 'Cardano' 'Chainlink' 'Dogecoin' 'EOS' 'Ethereum'
 'Litecoin' 'Polkadot' 'Stellar' 'Tether' 'Uniswap' 'USD-Coin' 'XRP'] and the count is  14

Under "CryptoHourlyData.csv" I want to know
* the name of every column
* the first and the last date of the column 'Date'

In [107]:
print(hourly_data.columns)
print("The first date is", hourly_data['Date'].min())
print("The last date is", hourly_data['Date'].max())

Index(['ID', 'Date', 'Time', 'Open', 'High', 'Low', 'Close'], dtype='object')
The first date is 2013-10-01
The last date is 2023-09-10